extends layout

block meta
  - var featimgixsrc = item.description.replace("http://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")

  - var url = item.name.replace(" ","-") + ".html"

  title #{item.name} - Roaming Love
  meta(name='description', content='Read first-hand stories about #{item.name} written by real travelers.')

  meta(name='description', content ="Read first-hand stories about #{item.name} written by real travelers.")
  meta(name='author', content= "Roaming Love")

  //- twitter card data
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="Roaming Love")
  meta(name="twitter:title" content="#{item.name} - Roaming Love")
  meta(name="twitter:description" content="Read first-hand stories about #{item.name} written by real travelers.")
  meta(name="twitter:creator" content="Roaming Love")
  meta(name="twitter:image:src" content="#{featimgixsrc}")

  //- open graph data
  meta(property="og:title" content="#{item.name} - Roaming Love")
  meta(property="og:type" content="article")
  meta(property="og:url" content="http://www.roaminglove.com/places/#{url}")
  meta(property="og:image" content="#{featimgixsrc}")
  meta(property="og:description" content="Read first-hand stories about #{item.name} written by real travelers.")
  meta(property="og:site_name" content="Roaming Love")
  //- meta(property="fb:admins" content="Facebook numeric ID")

  //- schema.org markup for google+
  meta(itemprop="name" content="#{item.name} - Roaming Love")
  meta(itemprop="description" content="Read first-hand stories about #{item.name} written by real travelers.")
  meta(itemprop="image" content="#{featimgixsrc}")



block content
    //- include ../includes/header-window.jade
    .container.category
        .postInner
            -var itemimgix = item.description.replace("https://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net").replace("https://www.adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
            //- .headerContent
            //-     img(src="#{itemimgix}?w=1140&h=400&fit=crop&crop=focalpoint&blend=2693BB&bm=lighten")
            //-     h1= item.name
            ul.breadcrumbs
                li
                    a(href="/destinations.html") Destinations
                -if( item.parent != "0" )
                    li
                        -for category in records.categories
                            if( category.ID == item.parent)
                                a(href="/places/" + category.name.replace(" ","-") + ".html") #{category.name}
                li
                    span= item.name

            h1.pageHeading <span class="chevronsRight">>></span> All #{item.name} Stories
            .postWidget__wrapper
                for post in records.post
                    - for category in post.categories
                        if  (category.name == item.name)
                          include templates/post

            -if( item.parent == "0" )
                hr.bg-orange
                br
                h1.pageHeading <span class="chevronsRight">>></span> Destinations in #{item.name}
                .locationWidgetnewWrapper.locationWidgetnewWrapper--fullWidth.clearfix
                    -for category in records.categories
                        - var categoryimageix = category.description.replace("https://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net").replace("https://www.adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
                        if (category.parent == item.ID)
                          a.locationWidgetnew(href="/places/" + category.name.replace(" ","-") + ".html")
                            img(src="#{categoryimageix}?w=257&h=257&fit=crop&crop=entropy&auto=compress,format" class="img-responsive")
                            h6
                                div
                                    span= category.name

            -if( item.parent != "0" )
                -var index = 0
                each category in records.categories
                    if (category.parent == item.parent)
                        if(category.name != item.name)
                            -while( index < 1 )
                                -index++
                                hr.bg-orange
                                br
                                //- h1.pageHeading <span class="chevronsRight">>></span> Other Destinations Near #{item.name}
                                -if( item.parent != "0" )
                                    -for category in records.categories
                                        if( category.ID == item.parent)
                                                h1.pageHeading <span class="chevronsRight">>></span> Other Destinations in #{category.name}
                .locationWidgetnewWrapper.locationWidgetnewWrapper--fullWidth.clearfix
                    -for category in records.categories
                        - var categoryimageix = category.description.replace("https://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net").replace("https://www.adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
                        if (category.parent == item.parent)
                            if(category.name != item.name)
                              a.locationWidgetnew(href="/places/" + category.name.replace(" ","-") + ".html")
                                img(src="#{categoryimageix}?w=257&h=257&fit=crop&crop=entropy&auto=compress,format" class="img-responsive")
                                h6
                                    div
                                        span= category.name





            //- pre= JSON.stringify(item, null, 2)
            //- pre= JSON.stringify(records.post, null, 2)
            //- pre= JSON.stringify(records.categories, null, 2)
