extends layout

block meta
  - var featimgixsrc = item.featured_image.replace("http://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")

  if (item.title == "Playa Blanca")
    -var description = "We found a driver to take us to Playa Blanca one afternoon. I was excited to relax on a beach and play in the warm water."
  else if (item.title == "Food In Italy: Part 2")
    -var description = "I now realize that we ate a lot of pasta in Italy. I do not think that is a bad thing. Go to Italy and try all of the pasta!"
  else if (item.title == "The Pena Palace, Sintra: A Day in a Fairy Tale")
    -var description = "The Pena Palace, as we see it today, was projected in 1863 by King Ferdinand II. The man was a genius, I say!! It was used as a summer residence..."
  else
    -var description = item.content.substring(0,150).replace(/<p>/g,'').replace(/<\/p>/g,'').replace(/<div>/g,'').replace(/<\/div>/g,'').replace(/&#8217;/g,'\'').replace(/&#8220;/g,'\'').replace(/&#8221;/g,'\'').replace(/&#8230;/g,'...') + "..."


  if (item.author.name == "another_j")
    -var authorName = "김경진"
  else
    -var authorName = item.author.name


  title #{item.title} - Roaming Love
  meta(name='description', content ="#{description}")
  meta(name='author', content= "#{authorName}")

  //- twitter card data
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="Roaming Love")
  meta(name="twitter:title" content="#{item.title}")
  meta(name="twitter:description" content="#{description}")
  meta(name="twitter:creator" content="#{authorName}")
  meta(name="twitter:image:src" content="#{featimgixsrc}")

  //- open graph data
  meta(property="og:title" content="#{item.title}")
  meta(property="og:type" content="article")
  meta(property="og:url" content="http://www.roaminglove.com/post/#{item.slug}")
  meta(property="og:image" content="#{featimgixsrc}")
  meta(property="og:description" content="#{description}")
  meta(property="og:site_name" content="Roaming Love")
  //- meta(property="fb:admins" content="Facebook numeric ID")

  //- schema.org markup for google+
  meta(itemprop="name" content="#{item.title}")
  meta(itemprop="description" content="#{description}")
  meta(itemprop="image" content="#{featimgixsrc}")

block content
  include ../includes/header-window.jade
  .container.post
      .postInner
          h1
            span!= item.title
          //- h1= item.categories.name
          //- p.date= moment(item.date).format("MMMM DD, YYYY")
          -var count = 0
          -for author in records.authors
            -if( author.name == authorName )
              -count++
          if ( count > 0 )
            -for author in records.authors
              -if( author.name == authorName )
                p.date By <a href="/authors/#{author.slug}.html">#{authorName}</a> on #{moment(item.date).format("MMMM DD, YYYY")}
          else
            p.date By #{authorName} on #{moment(item.date).format("MMMM DD, YYYY")}
          ul.categories
            - for category in item.categories
              if (category.name != "Uncategorized")
                li
                  a(href='/places/' + category.name.replace(" ","-") + '.html')= category.name
            - for tag in item.tags
                li
                  a(href='/' + tag.name.replace(" ","-") + '.html')= tag.name


          .content!= item.content

          .authorBlock
              -var countAgain = 0
              -for author in records.authors
                -if( author.name == authorName )
                  -countAgain++
              if ( countAgain > 0 )
                -for author in records.authors
                  -if( author.name == authorName )
                    .authorBlock__name(href="") Contributed by <a href="/authors/#{author.slug}.html">#{authorName}</a>
              else
                .authorBlock__name Contributed by #{authorName}

              .authorBlock__link!= item.author.first_name.replace(/\[a/g, "<a").replace(/\]/g,">").replace(/\[\/a/g,"</a").replace(/%5D/g,">")
              .authorBlock__desc!= item.author.last_name
              // -for author in records.authors
                // -if( author.name == authorName )
                    //- a.authorBlock__link(href="/authors/") View More Travel Stories By #{authorName} Here >>


            //- div.foobar
            //-   pre= JSON.stringify(item, null, 2)

          #disqus_thread
          script
            :uglify-js
              var postID = "#{item.ID}"
              var postURL = "http://www.roaminglove.com/post/#{item.slug}"
              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              var disqus_config = function () {
                this.page.url = postURL;  // Replace PAGE_URL with your page's canonical URL variable
                this.page.identifier = postID; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//roaminglove.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
              })();

        - var featimgixsrc = item.featured_image.replace("http://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
        .headerContent.is--post
            img(src="#{featimgixsrc}?w=1140&h=400&fit=crop&crop=focalpoint&blend=2693BB&bm=lighten&auto=compress,format")
            h1
               - for category in item.categories
                if (category.name != "Uncategorized")
                  if( category.parent != "0")
                    span  #{category.name},
               - for category in item.categories
                if (category.name != "Uncategorized")
                  if( category.parent == "0")
                    span  #{category.name}
  - for itemCategory in item.categories
    if (itemCategory.parent == "0"  & itemCategory.name != "Uncategorized")
      -var index = 0
        each post in records.post
          - for category in post.categories
            if (category.parent == "0"  & category.name != "Uncategorized")
              if (itemCategory.name == category.name)
                if (post.title != item.title)
                  -index++
                  if( index > 0 )
                    .container.postRecommend
                      hr.bg-orange
                      .postWidget__wrapper.clearfix
                        h3.pageHeading <span class="chevronsRight">>></span> More Stories About #{itemCategory.name}
                        if( index < 5 )
                          include ../views/templates/post-horizontal




