extends layout

block meta
  title #{post.title} - Roaming Love
  meta(name='description', content='#{post.content.substring(0,150)}')
  meta(name='author', content= "#{post.author.name}")

block content
  .container.post
      .postInner
          h1= post.title
          //- h1= post.categories.name
          //- p.date= moment(post.date).format("MMMM DD, YYYY")
          p.date By #{post.author.name} on #{moment(post.date).format("MMMM DD, YYYY")}
          ul.categories
            - for category in post.categories
              if (category.name != "Uncategorized")
                li
                  a(href='/places/' + category.name.replace(" ","-") + '.html')= category.name
            - for tag in post.tags
                li
                  a(href='/' + tag.name.replace(" ","-") + '.html')= tag.name


          .content!= post.content

          .authorBlock
            .authorBlock__name Contributed by #{post.author.name}
            //- .authorBlock__link!= post.author.first_name.replace(/\[a/g, "<a").replace(/\]/g,">").replace(/\[\/a/g,"</a").replace(/%5D/g,">")
            .authorBlock__desc!= post.author.last_name
                                

            //- http://[start][a%20href=[q]google.com[q]%20target=[q]blank[q]]google.com[/a%5D
          //- img(src=post.featured_image class="img-responsive")
          //- br
          //- a.btn.btn-returnhome(href="/")< &nbsp;Return Home

        - var featimgixsrc = post.featured_image.replace("http://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")

        .headerContent.js--hide-on-top
            img(src="#{featimgixsrc}?w=1140&h=400&fit=crop&crop=entropy")
            h1
               - for category in post.categories
                if (category.name != "Uncategorized")
                  if( category.parent != "0")
                    span  #{category.name},
               - for category in post.categories
                if (category.name != "Uncategorized")
                  if( category.parent == "0")
                    span  #{category.name}




  //- pre= JSON.stringify(post, null, 2)

