extends layout

block meta
  title Destinations - Roaming Love
  meta(name='description', content='Sort by continent or country to read first-hand stories written by real travelers.')

block content
    .container.destinations
        .headerContent
            img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window6.jpg")
            h1 Destinations

        //- h1.pageHeading Locations
        .postWidget__wrapper

            -for category in records.categories
                if( category.parent == "0" & category.name != "Uncategorized")
                    - var categoryNameNoSpace = category.name.replace(" ", "")
                    section(class="countryWrapper countryWrapper--#{categoryNameNoSpace}") 
                        h1.pageHeading: a(href="/places/" + category.name.replace(" ","-") + ".html")  #{category.name}
                        -for subcategory in records.categories
                            - var subcategoryimageix = subcategory.description.replace("https://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
                            if( subcategory.parent == category.ID )
                              a.locationWidget(href="/places/" + subcategory.name.replace(" ","-") + ".html")
                                if( subcategory.name.length > 10 )
                                    h6.longName= subcategory.name
                                else 
                                    h6= subcategory.name
                                img(src="#{subcategoryimageix}?w=240&h=240&fit=crop&crop=entropy" class="")
            //- else
            //-     p= category.name

        //- pre= JSON.stringify(records.categories, null, 2)
