extends layout

block meta
  title Roaming Love
  meta(name='description', content='Roaming Love is an online community of travel storytellers. We allow readers a personal, honest look into our trips. We hope our stories inspire others to travel.')

block content
    .container.index
        .indexHeader
            .owl-carousel.owl-theme
                each post, index in wordpress.post
                    if index < 4
                        a(href='/post/' + post.slug + '.html' class="itemLink")
                            - var featimgixsrc = post.featured_image.replace("http://adminroaminglove.com/wp-content/uploads", "https://roaminglove.imgix.net")
                            img(src="#{featimgixsrc}?w=1140&h=400&fit=crop&crop=focalpoint&auto=format&q=58")
                            .itemContent
                                h4= post.title
                                //- p by #{post.author.name} &nbsp; / &nbsp; #{moment(post.date).fromNow()}
                                p by #{post.author.name} &nbsp; / &nbsp;
                                    - for category in post.categories
                                        if (category.name != "Uncategorized")
                                        if( category.parent != "0")
                                            span  #{category.name},
                                    - for category in post.categories
                                        if (category.name != "Uncategorized")
                                        if( category.parent == "0")
                                            span  #{category.name}


            hr.bg-orange

        //- .headerContent.js--hide-on-top
        //-     img(src="https://adminroaminglove.com/wp-content/uploads/2016/09/window1.jpg")
        //-     h1 Whats Your Travel Story?

        section
            h1.pageHeading <span class="chevronsRight">>></span> Recent Travel Stories

            .postWidget__wrapper
              each post, index in wordpress.post
                if index < 9
                    //- pre= JSON.stringify(post, null, 2)
                    //- p= post.title
                    include templates/post
            .btnWrapper
                .more.more--3inarow.btn.btnSecondary.disabled <span class="chevronsRight">>></span> More Recent Stories
                  .sk-circle
                    .sk-circle1.sk-child
                    .sk-circle2.sk-child
                    .sk-circle3.sk-child
                    .sk-circle4.sk-child
                    .sk-circle5.sk-child
                    .sk-circle6.sk-child
                    .sk-circle7.sk-child
                    .sk-circle8.sk-child
                    .sk-circle9.sk-child
                    .sk-circle10.sk-child
                    .sk-circle11.sk-child
                    .sk-circle12.sk-child
        //- section
        //-     h1.pageHeading <span class="chevronsRight">>></span> Top Destinations
        //-     a(href="/places/colombia.html" class="locationWidget")
        //-         h6 Colombia
        //-         img(src="https://roaminglove.imgix.net/2016/08/IMG_4189_opt.jpg?w=436&h=240&fit=crop&crop=entropy")

        //-     a(href="/places/vietnam.html" class="locationWidget")
        //-         h6 Vietnam
        //-         img(src="https://roaminglove.imgix.net/2016/04/img_9601.jpg?w=436&h=240&fit=crop&crop=entropy")

        //-     a(href="/places/italy.html" class="locationWidget")
        //-         h6 Italy
        //-         img(src="https://roaminglove.imgix.net/2016/09/IMG_6520.jpg?w=436&h=240&fit=crop&crop=entropy")

        //-     a(href="/places/alaska.html" class="locationWidget")
        //-         h6 Alaska
        //-         img(src="https://roaminglove.imgix.net/2016/09/IMG_0348_opt.jpg?w=436&h=240&fit=crop&crop=entropy")
        //-     .btnWrapper
        //-         a.more.btn.btnSecondary(href="/Destinations.html") <span class="chevronsRight">>></span> More Destinations


        section
            h1.pageHeading <span class="chevronsRight">>></span> Destinations
            a(href="/places/asia.html" class="locationWidget locationWidget--lg")
                h6
                    span Asia
                img(src="https://roaminglove.imgix.net/2016/04/img_8855.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/africa.html" class="locationWidget locationWidget--lg")
                h6
                    span Africa
                img(src="https://roaminglove.imgix.net/2016/11/rsz_babithehope-trueafrica-10.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/canada.html" class="locationWidget locationWidget--lg")
                h6
                    span Canada
                img(src="https://roaminglove.imgix.net/2016/12/IMG_2512_opt-1.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/europe.html" class="locationWidget locationWidget--lg")
                h6
                    span Europe
                img(src="https://roaminglove.imgix.net/2016/09/IMG_6767.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/latin-america.html" class="locationWidget locationWidget--lg")
                h6
                    span Latin America
                img(src="https://roaminglove.imgix.net/2016/08/IMG_4026_opt.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/middle-east.html" class="locationWidget locationWidget--lg")
                h6
                    span Middle East
                img(src="https://roaminglove.imgix.net/2016/12/DSC3297-Copy_opt.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")


            a(href="/places/united-states.html" class="locationWidget locationWidget--lg")
                h6
                    span United States
                img(src="https://roaminglove.imgix.net/2016/09/IMG_0231_opt.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            a(href="/places/oceania.html" class="locationWidget locationWidget--lg")
                h6
                    span Oceania
                img(src="https://roaminglove.imgix.net/2016/10/aussie.jpg?w=935&h=406&fit=crop&crop=entropy&auto=compress,format")

            .btnWrapper
                a.more.btn.btnSecondary(href="/Destinations.html") <span class="chevronsRight">>></span> All Destinations

        section
            .indexAbout#about
                h1.pageHeading <span class="chevronsRight">>></span> What is Roaming Love?
                p Travel is for everyone, and so is Roaming Love.
                p We created this community after seeing too many social media celebrities make travel appear elite, glamourous and inaccessible.
                p We allow people from around the world to contribute their travel stories and photographs for online publication. We hope these stories inspire others to travel, see the world, and join our community.
            .polaroidWrapper
                div
                    img(src="https://roaminglove.imgix.net/2016/11/unnamed-4_opt.jpg?w=200&h=215&fit=crop&crop=faces&auto=compress,format")
                div
                    img(src="https://roaminglove.imgix.net/2016/12/1_opt-1-1024x768.jpg?w=200&h=215&fit=crop&crop=entropy&auto=compress,format")
                div
                    img(src="https://roaminglove.imgix.net/2017/01/barcelona-skyline-full.jpg?w=200&h=215&fit=crop&crop=entropy&auto=compress,format")
                div
                    img(src="https://roaminglove.imgix.net/2016/12/IMG_2450_opt.jpg?w=200&h=215&fit=crop&crop=faces&auto=compress,format")
                div
                    img(src="https://roaminglove.imgix.net/2016/04/IMG_2329_opt.jpg?w=200&h=215&fit=crop&crop=faces&auto=compress,format")



            .indexContribute
                h1.pageHeading <span class="chevronsRight">>></span> Want to be featured on Roaming Love?
                p Do you have a travel story to tell?  Have you been somewhere that you LOVED?
                p Contribute to our online community! You don’t need to be a professional writer or blogger to tell a good story and inspire others.
                p Others want to hear about where you’ve been and what you thought of it!
                .btnWrapper
                    a.more.btn.btnSecondary(href="/contribute.html") <span class="chevronsRight">>></span> Contribute Your Story Now





block JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js")
    script
        :uglify-js
            $( document ).ready(function() {
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:0,
                    nav:true,
                    items: 1,
                    dots: true,
                    autoplay:true
                })

                $("a[href='/#about']").on("click", function(e){
                  $("html, body").animate({ scrollTop: $('#about').offset().top }, 800);
                  e.preventDefault();
                });
            });
