//- div.postWidget: a(href=post._url) <-- post._url is a roots variable that the JSON data cannot use, so we do the following instead...
div.postWidget: a(href='post/' + post.slug + '.html')
  .postWidget__img
    if post.featured_image
      img(src=post.featured_image class="img-responsive")
    else
        img(src="http://placehold.it/350x200?text=roaming+love" class="img-responsive")
  .postWidget__content
    span.postWidget__title= post.title
    ul
    - for category in post.categories
      li
        h4.red= category.name



    span.postWidget__date= moment(post.date).format("MMMM DD, YYYY")
    //- .postWidget__preview!= string(post.content).truncate(50).s
    pre= JSON.stringify(post, null, 2)
